body {
  overflow: hidden;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  overflow: hidden;
}

.item-1 {
  width: 100px;
  height: 100px;
  position: absolute;
  -webkit-animation: right-1 3s infinite cubic-bezier(0, 0, 0.49, 1.02);
          animation: right-1 3s infinite cubic-bezier(0, 0, 0.49, 1.02);
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-1 > * {
  width: 25px;
  height: 25px;
  background: #F583A1;
  border-radius: 50%;
  background-color: #dacbfe;
}

@-webkit-keyframes right-1 {
  0% {
    -webkit-transform: rotate(36deg) translateY(0px);
            transform: rotate(36deg) translateY(0px);
  }
  33%, 66%, 100% {
    -webkit-transform: rotate(36deg) translateY(-100px);
            transform: rotate(36deg) translateY(-100px);
  }
  87% {
    -webkit-transform: rotate(36deg) translateY(0px);
            transform: rotate(36deg) translateY(0px);
  }
  100% {
    -webkit-transform: rotate(0deg) translateY(0px);
            transform: rotate(0deg) translateY(0px);
  }
}

@keyframes right-1 {
  0% {
    -webkit-transform: rotate(36deg) translateY(0px);
            transform: rotate(36deg) translateY(0px);
  }
  33%, 66%, 100% {
    -webkit-transform: rotate(36deg) translateY(-100px);
            transform: rotate(36deg) translateY(-100px);
  }
  87% {
    -webkit-transform: rotate(36deg) translateY(0px);
            transform: rotate(36deg) translateY(0px);
  }
  100% {
    -webkit-transform: rotate(0deg) translateY(0px);
            transform: rotate(0deg) translateY(0px);
  }
}

.item-2 {
  width: 100px;
  height: 100px;
  position: absolute;
  -webkit-animation: right-2 3s infinite cubic-bezier(0, 0, 0.49, 1.02);
          animation: right-2 3s infinite cubic-bezier(0, 0, 0.49, 1.02);
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-2 > * {
  width: 25px;
  height: 25px;
  background: #F583A1;
  border-radius: 50%;
  background-color: #cdb8fd;
}

@-webkit-keyframes right-2 {
  0% {
    -webkit-transform: rotate(72deg) translateY(0px);
            transform: rotate(72deg) translateY(0px);
  }
  33%, 66%, 100% {
    -webkit-transform: rotate(72deg) translateY(-100px);
            transform: rotate(72deg) translateY(-100px);
  }
  87% {
    -webkit-transform: rotate(72deg) translateY(0px);
            transform: rotate(72deg) translateY(0px);
  }
  100% {
    -webkit-transform: rotate(0deg) translateY(0px);
            transform: rotate(0deg) translateY(0px);
  }
}

@keyframes right-2 {
  0% {
    -webkit-transform: rotate(72deg) translateY(0px);
            transform: rotate(72deg) translateY(0px);
  }
  33%, 66%, 100% {
    -webkit-transform: rotate(72deg) translateY(-100px);
            transform: rotate(72deg) translateY(-100px);
  }
  87% {
    -webkit-transform: rotate(72deg) translateY(0px);
            transform: rotate(72deg) translateY(0px);
  }
  100% {
    -webkit-transform: rotate(0deg) translateY(0px);
            transform: rotate(0deg) translateY(0px);
  }
}

.item-3 {
  width: 100px;
  height: 100px;
  position: absolute;
  -webkit-animation: right-3 3s infinite cubic-bezier(0, 0, 0.49, 1.02);
          animation: right-3 3s infinite cubic-bezier(0, 0, 0.49, 1.02);
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-3 > * {
  width: 25px;
  height: 25px;
  background: #F583A1;
  border-radius: 50%;
  background-color: #bfa4fd;
}

@-webkit-keyframes right-3 {
  0% {
    -webkit-transform: rotate(108deg) translateY(0px);
            transform: rotate(108deg) translateY(0px);
  }
  33%, 66%, 100% {
    -webkit-transform: rotate(108deg) translateY(-100px);
            transform: rotate(108deg) translateY(-100px);
  }
  87% {
    -webkit-transform: rotate(108deg) translateY(0px);
            transform: rotate(108deg) translateY(0px);
  }
  100% {
    -webkit-transform: rotate(0deg) translateY(0px);
            transform: rotate(0deg) translateY(0px);
  }
}

@keyframes right-3 {
  0% {
    -webkit-transform: rotate(108deg) translateY(0px);
            transform: rotate(108deg) translateY(0px);
  }
  33%, 66%, 100% {
    -webkit-transform: rotate(108deg) translateY(-100px);
            transform: rotate(108deg) translateY(-100px);
  }
  87% {
    -webkit-transform: rotate(108deg) translateY(0px);
            transform: rotate(108deg) translateY(0px);
  }
  100% {
    -webkit-transform: rotate(0deg) translateY(0px);
            transform: rotate(0deg) translateY(0px);
  }
}

.item-4 {
  width: 100px;
  height: 100px;
  position: absolute;
  -webkit-animation: right-4 3s infinite cubic-bezier(0, 0, 0.49, 1.02);
          animation: right-4 3s infinite cubic-bezier(0, 0, 0.49, 1.02);
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-4 > * {
  width: 25px;
  height: 25px;
  background: #F583A1;
  border-radius: 50%;
  background-color: #b291fc;
}

@-webkit-keyframes right-4 {
  0% {
    -webkit-transform: rotate(144deg) translateY(0px);
            transform: rotate(144deg) translateY(0px);
  }
  33%, 66%, 100% {
    -webkit-transform: rotate(144deg) translateY(-100px);
            transform: rotate(144deg) translateY(-100px);
  }
  87% {
    -webkit-transform: rotate(144deg) translateY(0px);
            transform: rotate(144deg) translateY(0px);
  }
  100% {
    -webkit-transform: rotate(0deg) translateY(0px);
            transform: rotate(0deg) translateY(0px);
  }
}

@keyframes right-4 {
  0% {
    -webkit-transform: rotate(144deg) translateY(0px);
            transform: rotate(144deg) translateY(0px);
  }
  33%, 66%, 100% {
    -webkit-transform: rotate(144deg) translateY(-100px);
            transform: rotate(144deg) translateY(-100px);
  }
  87% {
    -webkit-transform: rotate(144deg) translateY(0px);
            transform: rotate(144deg) translateY(0px);
  }
  100% {
    -webkit-transform: rotate(0deg) translateY(0px);
            transform: rotate(0deg) translateY(0px);
  }
}

.item-5 {
  width: 100px;
  height: 100px;
  position: absolute;
  -webkit-animation: right-5 3s infinite cubic-bezier(0, 0, 0.49, 1.02);
          animation: right-5 3s infinite cubic-bezier(0, 0, 0.49, 1.02);
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-5 > * {
  width: 25px;
  height: 25px;
  background: #F583A1;
  border-radius: 50%;
  background-color: #a47efc;
}

@-webkit-keyframes right-5 {
  0% {
    -webkit-transform: rotate(180deg) translateY(0px);
            transform: rotate(180deg) translateY(0px);
  }
  33%, 66%, 100% {
    -webkit-transform: rotate(180deg) translateY(-100px);
            transform: rotate(180deg) translateY(-100px);
  }
  87% {
    -webkit-transform: rotate(180deg) translateY(0px);
            transform: rotate(180deg) translateY(0px);
  }
  100% {
    -webkit-transform: rotate(0deg) translateY(0px);
            transform: rotate(0deg) translateY(0px);
  }
}

@keyframes right-5 {
  0% {
    -webkit-transform: rotate(180deg) translateY(0px);
            transform: rotate(180deg) translateY(0px);
  }
  33%, 66%, 100% {
    -webkit-transform: rotate(180deg) translateY(-100px);
            transform: rotate(180deg) translateY(-100px);
  }
  87% {
    -webkit-transform: rotate(180deg) translateY(0px);
            transform: rotate(180deg) translateY(0px);
  }
  100% {
    -webkit-transform: rotate(0deg) translateY(0px);
            transform: rotate(0deg) translateY(0px);
  }
}

.item-6 {
  width: 100px;
  height: 100px;
  position: absolute;
  -webkit-animation: right-6 3s infinite cubic-bezier(0, 0, 0.49, 1.02);
          animation: right-6 3s infinite cubic-bezier(0, 0, 0.49, 1.02);
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-6 > * {
  width: 25px;
  height: 25px;
  background: #F583A1;
  border-radius: 50%;
  background-color: #966bfc;
}

@-webkit-keyframes right-6 {
  0% {
    -webkit-transform: rotate(216deg) translateY(0px);
            transform: rotate(216deg) translateY(0px);
  }
  33%, 66%, 100% {
    -webkit-transform: rotate(216deg) translateY(-100px);
            transform: rotate(216deg) translateY(-100px);
  }
  87% {
    -webkit-transform: rotate(216deg) translateY(0px);
            transform: rotate(216deg) translateY(0px);
  }
  100% {
    -webkit-transform: rotate(0deg) translateY(0px);
            transform: rotate(0deg) translateY(0px);
  }
}

@keyframes right-6 {
  0% {
    -webkit-transform: rotate(216deg) translateY(0px);
            transform: rotate(216deg) translateY(0px);
  }
  33%, 66%, 100% {
    -webkit-transform: rotate(216deg) translateY(-100px);
            transform: rotate(216deg) translateY(-100px);
  }
  87% {
    -webkit-transform: rotate(216deg) translateY(0px);
            transform: rotate(216deg) translateY(0px);
  }
  100% {
    -webkit-transform: rotate(0deg) translateY(0px);
            transform: rotate(0deg) translateY(0px);
  }
}

.item-7 {
  width: 100px;
  height: 100px;
  position: absolute;
  -webkit-animation: right-7 3s infinite cubic-bezier(0, 0, 0.49, 1.02);
          animation: right-7 3s infinite cubic-bezier(0, 0, 0.49, 1.02);
  -webkit-animation-delay: 700ms;
          animation-delay: 700ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-7 > * {
  width: 25px;
  height: 25px;
  background: #F583A1;
  border-radius: 50%;
  background-color: #8958fb;
}

@-webkit-keyframes right-7 {
  0% {
    -webkit-transform: rotate(252deg) translateY(0px);
            transform: rotate(252deg) translateY(0px);
  }
  33%, 66%, 100% {
    -webkit-transform: rotate(252deg) translateY(-100px);
            transform: rotate(252deg) translateY(-100px);
  }
  87% {
    -webkit-transform: rotate(252deg) translateY(0px);
            transform: rotate(252deg) translateY(0px);
  }
  100% {
    -webkit-transform: rotate(0deg) translateY(0px);
            transform: rotate(0deg) translateY(0px);
  }
}

@keyframes right-7 {
  0% {
    -webkit-transform: rotate(252deg) translateY(0px);
            transform: rotate(252deg) translateY(0px);
  }
  33%, 66%, 100% {
    -webkit-transform: rotate(252deg) translateY(-100px);
            transform: rotate(252deg) translateY(-100px);
  }
  87% {
    -webkit-transform: rotate(252deg) translateY(0px);
            transform: rotate(252deg) translateY(0px);
  }
  100% {
    -webkit-transform: rotate(0deg) translateY(0px);
            transform: rotate(0deg) translateY(0px);
  }
}

.item-8 {
  width: 100px;
  height: 100px;
  position: absolute;
  -webkit-animation: right-8 3s infinite cubic-bezier(0, 0, 0.49, 1.02);
          animation: right-8 3s infinite cubic-bezier(0, 0, 0.49, 1.02);
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-8 > * {
  width: 25px;
  height: 25px;
  background: #F583A1;
  border-radius: 50%;
  background-color: #7b44fb;
}

@-webkit-keyframes right-8 {
  0% {
    -webkit-transform: rotate(288deg) translateY(0px);
            transform: rotate(288deg) translateY(0px);
  }
  33%, 66%, 100% {
    -webkit-transform: rotate(288deg) translateY(-100px);
            transform: rotate(288deg) translateY(-100px);
  }
  87% {
    -webkit-transform: rotate(288deg) translateY(0px);
            transform: rotate(288deg) translateY(0px);
  }
  100% {
    -webkit-transform: rotate(0deg) translateY(0px);
            transform: rotate(0deg) translateY(0px);
  }
}

@keyframes right-8 {
  0% {
    -webkit-transform: rotate(288deg) translateY(0px);
            transform: rotate(288deg) translateY(0px);
  }
  33%, 66%, 100% {
    -webkit-transform: rotate(288deg) translateY(-100px);
            transform: rotate(288deg) translateY(-100px);
  }
  87% {
    -webkit-transform: rotate(288deg) translateY(0px);
            transform: rotate(288deg) translateY(0px);
  }
  100% {
    -webkit-transform: rotate(0deg) translateY(0px);
            transform: rotate(0deg) translateY(0px);
  }
}

.item-9 {
  width: 100px;
  height: 100px;
  position: absolute;
  -webkit-animation: right-9 3s infinite cubic-bezier(0, 0, 0.49, 1.02);
          animation: right-9 3s infinite cubic-bezier(0, 0, 0.49, 1.02);
  -webkit-animation-delay: 900ms;
          animation-delay: 900ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-9 > * {
  width: 25px;
  height: 25px;
  background: #F583A1;
  border-radius: 50%;
  background-color: #6e31fa;
}

@-webkit-keyframes right-9 {
  0% {
    -webkit-transform: rotate(324deg) translateY(0px);
            transform: rotate(324deg) translateY(0px);
  }
  33%, 66%, 100% {
    -webkit-transform: rotate(324deg) translateY(-100px);
            transform: rotate(324deg) translateY(-100px);
  }
  87% {
    -webkit-transform: rotate(324deg) translateY(0px);
            transform: rotate(324deg) translateY(0px);
  }
  100% {
    -webkit-transform: rotate(0deg) translateY(0px);
            transform: rotate(0deg) translateY(0px);
  }
}

@keyframes right-9 {
  0% {
    -webkit-transform: rotate(324deg) translateY(0px);
            transform: rotate(324deg) translateY(0px);
  }
  33%, 66%, 100% {
    -webkit-transform: rotate(324deg) translateY(-100px);
            transform: rotate(324deg) translateY(-100px);
  }
  87% {
    -webkit-transform: rotate(324deg) translateY(0px);
            transform: rotate(324deg) translateY(0px);
  }
  100% {
    -webkit-transform: rotate(0deg) translateY(0px);
            transform: rotate(0deg) translateY(0px);
  }
}

.item-10 {
  width: 100px;
  height: 100px;
  position: absolute;
  -webkit-animation: right-10 3s infinite cubic-bezier(0, 0, 0.49, 1.02);
          animation: right-10 3s infinite cubic-bezier(0, 0, 0.49, 1.02);
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-10 > * {
  width: 25px;
  height: 25px;
  background: #F583A1;
  border-radius: 50%;
  background-color: #601efa;
}

@-webkit-keyframes right-10 {
  0% {
    -webkit-transform: rotate(360deg) translateY(0px);
            transform: rotate(360deg) translateY(0px);
  }
  33%, 66%, 100% {
    -webkit-transform: rotate(360deg) translateY(-100px);
            transform: rotate(360deg) translateY(-100px);
  }
  87% {
    -webkit-transform: rotate(360deg) translateY(0px);
            transform: rotate(360deg) translateY(0px);
  }
  100% {
    -webkit-transform: rotate(0deg) translateY(0px);
            transform: rotate(0deg) translateY(0px);
  }
}

@keyframes right-10 {
  0% {
    -webkit-transform: rotate(360deg) translateY(0px);
            transform: rotate(360deg) translateY(0px);
  }
  33%, 66%, 100% {
    -webkit-transform: rotate(360deg) translateY(-100px);
            transform: rotate(360deg) translateY(-100px);
  }
  87% {
    -webkit-transform: rotate(360deg) translateY(0px);
            transform: rotate(360deg) translateY(0px);
  }
  100% {
    -webkit-transform: rotate(0deg) translateY(0px);
            transform: rotate(0deg) translateY(0px);
  }
}
/*# sourceMappingURL=app.css.map */